<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.db_board.mapper.BoardMapper">
	<resultMap id="board" type="com.green.db_board.dto.BoardDTO">
        <id column="BOARD_NUM" property="boardNum" />
        <result column="TITLE" property="title"/>
        <result column="WRITER" property="writer"/>
        <result column="CONTENT" property="content"/>
        <result column="READ_CNT" property="readCnt"/>
        <result column="CREATE_DATE" property="createDate"/>
    </resultMap>

    <!--모든정보 조회-->
    <select id="getBoardList" resultMap="board">
        SELECT
            BOARD_NUM,
            TITLE,
            WRITER,
            CONTENT,
            READ_CNT,
            CREATE_DATE
        FROM BOARD
        ORDER BY CREATE_DATE DESC
    </select>

    <!--등록 쿼리-->
    <insert id="insertBoard">
        INSERT INTO BOARD(
            TITLE,
            WRITER,
            CONTENT
        ) VALUES(
            #{title},
            #{writer},
            #{content}
        )
    </insert>

    <!--상세정보 조회-->
    <select id="getBoardDetail" resultMap="board">
        SELECT
            BOARD_NUM,
            TITLE,
            WRITER,
            CONTENT,
            READ_CNT,
            CREATE_DATE
        FROM BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <!--조회수 증가-->
    <update id="updateCnt">
        UPDATE BOARD
        SET
            READ_CNT = READ_CNT + 1
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <!--삭제 쿼리-->
    <delete id="deleteBoard">
        DELETE FROM BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <!--수정 쿼리-->
    <update id="updateBoard">
        UPDATE BOARD
        SET
            TITLE = #{title},
            CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

</mapper>































