.container{
  width: 400px;
  margin: 20px auto;
}

table{
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

tr, td{
  border: 1px solid black;
}

.btn_div{
  text-align: right;
  margin-bottom: 10px;
}
