<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.car.car.mapper.CarMapper">
	<resultMap id="car" type="com.green.car.car.dto.CarDTO">
        <id     column="CAR_NUM" property="carNum"/>
        <result column="CAR_NAME" property="carName"/>
        <result column="PRICE" property="price"/>
        <result column="MAKER" property="maker"/>
    </resultMap>

    <!--차량 등록-->
    <insert id="insertCar">
        INSERT INTO CAR_INFO(
            CAR_NAME,
            PRICE,
            MAKER
        ) VALUES(
            #{carName},
            #{price},
            #{maker}
        )
    </insert>

    <!--차량 조회-->
    <select id="getCarInfo" resultMap="car">
        SELECT
            CAR_NUM,
            CAR_NAME,
            MAKER
        FROM CAR_INFO
        ORDER BY CAR_NUM DESC
    </select>



</mapper>































