<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.car.sales.mapper.SalesMapper">
	<resultMap id="sales" type="com.green.car.sales.dto.SalesDTO">
        <id     column="SALES_NUM" property="salesNum" />
        <result column="BUYER" property="buyer" />
        <result column="PHONE" property="phone" />
        <result column="COLOR" property="color" />
        <result column="SALE_DATE" property="saleDate" />
        <result column="CAR_NUM" property="carNum" />
        <association property="carDTO" resultMap="com.green.car.car.mapper.CarMapper.car" />
    </resultMap>


    <!--판매 정보 등록-->
    <insert id="regSales">
        INSERT INTO SALES_INFO(
            BUYER,
            COLOR,
            CAR_NUM,
            PHONE
        ) VALUES(
            #{buyer},
            #{color},
            #{carNum},
            #{phone}
        )
    </insert>

    <!--판매 목록 조회-->
    <select id="getSalesList" resultMap="sales">
        SELECT
            BUYER,
            PHONE,
            SALE_DATE,
            COLOR,
            (SELECT CAR_NAME
            FROM CAR_INFO
            WHERE CAR_NUM = sales_info.CAR_NUM) CAR_NAME,
            (SELECT PRICE
            FROM CAR_INFO
            WHERE CAR_NUM = sales_info.CAR_NUM) PRICE
        FROM sales_info
        ORDER BY SALE_DATE DESC
    </select>


</mapper>































