.container{
  width: 100%;
  margin-top: 50px;
}

.table{
  width: 100%;
  text-align: center;
}

.table > thead > tr:first-child{
  background-color: black;
  color: white;
}

.table > thead > tr:nth-child(2){
  background-color: #6f6f6f;
  color: white;
}

.table tbody > tr:nth-child(even){
  background-color: #d6d6d6;
  color: black;
}

.table tbody > tr:nth-child(odd){
  background-color: #ececec;
  color: black;
}

.table td{
  border: 1px solid white;
  padding: 10px 5px;
  vertical-align: middle;
}