.list_container{
  width: 800px;
  margin: 20px auto;
  text-align: center;
}

.search{
  text-align: right;
}

.search > input, .search > select{
  padding: 5px 10px;
  margin-right: 5px;
}

.list_table{
  width: 100%;
  margin-top: 20px;
 
}

tr, td{
  border: 1px solid white;
  padding: 5px 10px;
}

.list_table > thead > tr{
  background-color: #5b9bd4;
  color: white;
}

.list_table > tbody > tr:nth-child(even){
  background-color: #eaeef7;
}

.list_table > tbody > tr:nth-child(odd){
  background-color: #d2deee;
}

button{
  color: white;
  background-color: #5b9bd4;
  padding: 5px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

button:hover{
  cursor: pointer;
}

tbody span:hover{
  cursor: pointer;
}



