div{
  border: 1px solid black;
  margin: 30px;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 2rem;
}

.d2{
  background-color: crimson;
  color: white;
}

/* d2클래스에 마우스 올리면 */
.d2:hover{
  position: relative;
  top: 20px;
  left: 20px;
}

.d3{
  background-color: skyblue;
  color: white;
}

.d3:hover{
  position: relative;
  bottom: 30px;
  right: 20px;
}