/* 
  가상클래스 : 가상의 선택자 -> 실제로 존재하지 않는 요소나, 상태, 조건에 따라 스타일을 적용할 때 사용.

  가상클래스는 디테일하게 말하면 가상요소와 가상클래스로 구분
  가상요소 : 실제로 존재하지 않는 요소에 스타일을 적용
  가상클래스 : 요소의 상태나 조건에 따라 스타일을 적용
*/
.d1, .d2{
  width: 150px;
  height: 150px;
  background-color: crimson;
  color: white;
  margin: 20px;
  text-align: center;
  line-height: 150px;

  /* 변환 */
  transition: all 0.5s;
}

/* 마우스 올리면... */
.d1:hover{
  background-color: aqua;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

input{
  width: 150px;
  margin-left: 20px;
  transition: all 2s;
}

/* 태그가 클릭됐을때 */
input:focus{
  width: 250px;
}

/* 첫번째 자식 */
ul > li:first-child{
  background-color: bisque;
}

/* 마지막 자식 */
ul > li:last-child{
  background-color: blue;
}

/* n번째 자식 */
ul > li:nth-child(2){
  background-color: brown;
}

/* even : 짝수, odd : 홀수 */
ul > li:nth-child(even){
  color: green;
}
/* 
  first=child는 태그의 종류보다 순서를 더 우선시.
  첫번째 자식이 span일 때만 적용!
*/
.d3 > span:first-child{
  color: red; /* 적용 안 됨 */
}

.d3 > span:first-of-type{
  color: blue;
}

.d3 > span:last-of-type{}
.d3 > span:nth-of-type(1){}