.container{
  border: 1px solid black;
  display: flex;
  height: 300px;

  /* 가로를 주축으로 지정 */
  flex-direction: row;

  /* 주축 방향 정렬 */
  justify-content: space-evenly;

  /* 교차축 방향 정렬 */
  align-items: stretch;
}

.item{
  border: 1px solid red;
  /* width: 100%; */
}

/* .container > div:nth-child(1){
  width: 10%;
}
.container > div:nth-child(2){
  width: 20%;
}
.container > div:nth-child(3){
  width: 30%;
}
.container > div:nth-child(4){
  width: 40%;
} */


/* .container > div:nth-child(2){
  align-self: flex-start;
} */


.d1{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d2{
  border: 1px solid black;
}