.box{
  width: 300px;
  height: 150px;
  border: 1px solid black;
  margin: 50px;
}

.d1{
  /* visible : 영역을 벗어나도 보여주겠다 (default) */
  overflow: visible;
}

.d2{
  overflow: hidden;
}

.d3{
  /* 내용의 넘침 유무와 상관없이 무조건 스크롤 생성 */
  overflow: scroll;
}

.d4{
  /* 내용의 넘침 유무에 따라 스크롤 자동 생성 */
  overflow: auto;
}