.header{
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.title, ul{
  border: 1px solid orange;
}

ul{
  display: flex;
  width: 300px;
  justify-content: space-between;
}
