.container{
  width: 600px;
  margin: 10px auto;
  text-align: center;
}

table{
  border: 2px solid black;
}

tr, td{
  border: 2px solid black;
  vertical-align: middle;
}

tr :nth-child(1){
  font-weight: bold;
}

tr :nth-child(2){
  text-align: left;
}

td:nth-child(1){
  width: 30%;
}

td:nth-child(2){
  width: 70%;
}

.header{
  background-color: #cee3f6;
}

span{
  color: red;
  font-size: 0.7rem;
  font-weight: bold;
}

.long{
  width: 200px;
}

.mid{
  width: 150px;
}

.short{
  width: 80px;
}