.container{
  margin: auto;
  width: 500px;
}

h2{
  text-align: center;
}

.title{
  text-align: right;
}

table{
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

tr, td{
  border: 1px solid black;
}

.btn-div{
  text-align: right;
  margin-top: 10px
}

.caption{
  color: red;
  font-size: 0.7rem;
}