body{
  background-color: lightblue;
  
}

.container{
  background-color: white;
  width: 500px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 8px;
}

p{
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 5px;
}

p > span{
  color: red;
}

.content{
  margin-top: 20px;
  margin-bottom: 10px;
}

button{
  border-radius: 8px;
  border: 1px solid #eeeeee;

}
.suc{
  background-color: skyblue;
  color: white;
  padding: 8px 20px;
}

.can{
  background-color: gold;
  color: white;
  padding: 8px 20px;
}

.btn-first{
  background-color: skyblue;
  color: white;
  padding: 10px 30px;
 
}
.btn-last{
  text-align: center;
  margin-top: 30px;
}

input{
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

select{
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.small{
  width: 30%;
}

.normal{
  width: 70%;
}

.large{
  width: 100%;
}

.d1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
