<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.basic_member.mapper.RegFormMapper">
    <!--resultMap : 조회된 데이터를 자바로 가져오는 정의-->
    <resultMap id="" type="">
        <result column="MEM_ID" property=""/>
        <result column="MEM_PW" property=""/>
        <result column="MEM_NAME" property=""/>
        <result column="MEM_AGE" property=""/>
        <result column="BIRTHDAY" property=""/>
    </resultMap>

    <insert id="insertMember">
        INSERT INTO BASIC_MEMBER (
            MEM_ID,
            MEM_PW,
            MEM_NAME,
            MEM_AGE,
            BIRTHDAY
        ) VALUES (
            #{memId},
            #{memPw},
            #{memName},
            #{memAge},
            NOW()
        );
    </insert>

    <!--
    select 태그는 반드시 조회 데이터를 가져올 수 있는 자료형은 선언!
    자료형 선언은 resultType 속성이나 resultMap 속성 중 하나를 사용한다.
    resultType : 조회된 데이터 중 하나의 행 데이터를 가져올 수 있는 자료형
                 resultType은 자바가 기본적으로 제공하는 자료형을 사용할 때 적용!\
                 (int, String, double, List...)
    resultMap : 조회된 데이터 중 하나의 행 데이터를 가져올 수 있는 자료형
    -->
    <select id="" resultType="String">
        SELECT MEM_NAME
        FROM BASIC_MEMBER
        WHERE MEM_ID = 'java'
    </select>

    <select id="" resultMap="member">
        SELECT MEM_ID,
            MEM_PW,
            MEM_NAME,
            MEM_AGE,
            BIRTHDAY
        FROM BASIC_MEMBER
        WHERE MEM_ID = 'java'
    </select>

</mapper>































