.container{
  width: 700px;
  text-align: center;
  margin: 20px;
}

.list-table{
  width: 100%;
  margin-top: 10px;
}

.head{
  background-color: blue;
  color: white;
  border-bottom: 4px solid white;
}

.list-table tr, .list-table td{
  border: 1px solid white;
  padding: 10px 5px;
  font-weight: bold;
}

.body tr{
  background-color: skyblue;
}

.body tr:hover{
  cursor: pointer;
  color: white;
}

.body tr:nth-child(even){
  background-color: lightblue;
}

