.list-table{
  width: 500px;
  text-align: center;
}

.list-table > thead > tr{
  border-top: 1px solid black;
  border-bottom: 1.5px solid black;
  background-color: lightcyan;
}

.list-table > tbody > tr{
  border-bottom: 1px solid #eeeeee;
}

.list-table td{
  padding: 6px;
}

.list-table > tbody > tr:nth-child(even){
  background-color: #eeeeee;
}

.list-table > tbody > tr:hover{
  background-color: #dddddd;
}

.title:hover{
  cursor: pointer;
  text-decoration: underline;
}

