.container{
  width: 1280px;
  margin: 0 auto;
}

.header_div{
  height: 20vh;
  border: 3px solid red;
}

.main{
  display: flex;
  height: 80vh;
}

.side{
  width: 20%;
}

.content{
  width: 80%;
  padding: 20px;
  padding-bottom: 0px;
  padding-right: 0px;
}