.container{
  width: 100%;
}

.head_div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-bottom: 30px;
}

.search{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

.search > div{
  display: flex;
  gap: 10px;
}

.table{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.table td{
  padding: 10px;
}

.table tr:nth-child(even){
  background-color: #eeeeee;
}

.table > thead{
  background-color: gray;
  color: white;
  border-bottom: 2px solid black;
}

.modal_span:hover{
  cursor: pointer;
}