<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_plant_comunity.environment.mapper.EnvironmentMapper">
	<resultMap id="environment" type="com.green.backend_plant_comunity.environment.dto.EnvironmentDTO">
        <id     column="ENV_NUM"          property="envNum" />
        <result column="SENSOR_TIME"      property="sensorTime" />
        <result column="TEMPERATURE"      property="temperature" />
        <result column="HUMIDITY"         property="humidity" />
        <result column="ILLUMINANCE"      property="illuminance" />
        <result column="SOIL_MOISTURE"    property="soilMoisture" />
        <result column="HERB_NUM"    property="herbNum" />
        <result column="HERB_NAME"    property="herbName" />
        <association property="memberDTO" resultMap="com.green.backend_plant_comunity.member.mapper.MemberMapper.member" />
    </resultMap>


    <!--센서데이터 리스트 조회-->
    <select id="getSensorData" resultMap="environment">
        SELECT
            ENV_NUM,
            SENSOR_TIME,
            TEMPERATURE,
            HUMIDITY,
            ILLUMINANCE,
            SOIL_MOISTURE
        FROM SENSOR_DATA
        ORDER BY SENSOR_TIME DESC
    </select>


    <!--마지막 센서데이터 조회-->
    <select id="getLastSensorData" resultMap="environment">
        SELECT
            ENV_NUM,
            SENSOR_TIME,
            TEMPERATURE,
            HUMIDITY,
            ILLUMINANCE,
            SOIL_MOISTURE
        FROM SENSOR_DATA
        ORDER BY SENSOR_TIME DESC
        LIMIT 1
    </select>

</mapper>































