<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.basic_board2.mapper.BoardMapper">

    <!--게시글 등록 쿼리-->
    <insert id="insertBoard">
        INSERT INTO BASIC_BOARD(
            TITLE
            , WRITER
            , CONTENT
            , READ_CNT
        ) VALUES (
            #{title}
            , #{writer}
            , #{content}
            , #{readCnt}
        )
    </insert>

    <!--하나의 게시글에 제목과 내용을 변경한느 쿼리-->
    <update id="updateBoard">
        UPDATE BASIC_BOARD
        SET
            TITLE = #{title},
            CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <!--게시글 삭제 쿼리-->
    <delete id="deleteBoard">
        DELETE FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <resultMap id="board" type="com.green.basic_board2.dto.BoardDTO">
        <id     column="BOARD_NUM"      property="boardNum" />
        <result column="TITLE"          property="title" />
        <result column="WRITER"         property="writer" />
        <result column="CONTENT"        property="content" />
        <result column="READ_CNT"       property="readCnt" />
        <result column="CREATE_DATE"    property="createDate" />
    </resultMap>

    <!--게시글 목록 조회-->
    <select id="getBoardList" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , WRITER
            , CREATE_DATE
            , READ_CNT
        FROM BASIC_BOARD
        ORDER BY CREATE_DATE DESC
    </select>

    <select id="getBoardDetail" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , WRITER
            , CONTENT
            , READ_CNT
            , CREATE_DATE
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <select id="searchTitle" resultMap="board">
        SELECT
            BOARD_NUM,
            TITLE,
            WRITER,
            CREATE_DATE,
            READ_CNT
        FROM basic_board
        WHERE TITLE LIKE CONCAT('%', #{title} ,'%');
    </select>
</mapper>































