.test1_container{
  margin: 30px;
}

.test1_container > div{
  width: 80px;
  height: 80px;
  background-color: crimson;
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 80px;
  margin-bottom: 10px;
}