<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.basic_board.mapper.BoardMapper">
    <!-- 모든 게시글 조회 쿼리-->
    <select id="getBoardList">
        SELECT
            BOARD_NUM
            , TITLE
            , WRITER
            , CONTENT
            , READ_CNT
            , CREATE_DATE
        FROM BASIC_BOARD
    </select>

    <!-- 하나의 게시글의 모든 컬럼을 조회하는 쿼리 -->
    <select id="getBoard">
        SELECT
            BOARD_NUM
            , TITLE
            , WRITER
            , CONTENT
            , READ_CNT
            , CREATE_DATE
        FROM BASIC_BOARD
        WHERE BOARD_NUM = 1
    </select>

    <!-- 하나의 게시글을 등록하는 쿼리 -->
    <insert id="insertBoard">
        INSERT INTO BASIC_BOARD (
            TITLE
            , WRITER
            , CONTENT
        ) VALUES (
            '제목4'
            , '작성자4'
            , '내용4'
        )
    </insert>

    <!-- 하나의 게시글을 삭제하는 쿼리 -->
    <delete id="deleteBoard">
        DELETE FROM BASIC_BOARD
        WHERE BOARD_NUM = 1
    </delete>

    <!--
     글번호가 2번인 게시글의 제목을 'java' 내용을 '수정된 내용'
     으로 수정하는 쿼리
     -->
    <update id="updateBoard">
        UPDATE BASIC_BOARD
        SET
            TITLE = 'java',
            CONTENT = '수정된내용'
        WHERE BOARD_NUM = 2
    </update>

</mapper>































